.outline {
    height: auto;
    position: relative;
}
.roule_bk{
    width: 100%;
    height: 500px;
    position: absolute;
}
.roule_bk > img {
    width: 100%;
    object-fit: cover;
}
/* 340 : 230px   420px : 280px   500 : 335px    560 : 375px*/
.gamepan {
    position: absolute;
    width: 80%;
    left: 51%;
    bottom: 7.5%;
    margin-left: -42%;
}
.gamepan > img {
    width: 100%;
    object-fit: cover;
}
.gamebtn{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.gamepin{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.gameboard{
    transition: all 5s ease;
}
.msg {
    background-color: black;
    color: white;
    font-size: 12px;
    width: 60%;
    height: 60px;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    display: none;
}
#msg2{
    width: auto;
    height: 20px;
}
.close{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    background-color: red;
    text-align: center;
    line-height: 20px;
    right: 0;
    top: 0;
}